In [1]:
import xgboost
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Data/xgboost_classification.csv', sep=';')
data

    age  response
0    23         0
1    45         0
2    44         0
3    20         0
4    49         0
5    56         1
6    55         1
7    43         1
8    23         0
9    67         0
10   54         0
11   43         0
12   22         0
13   25         0
14   47         0
15   36         1
16   20         1
17   56         1
18   56         0
19   34         1

In [3]:
y = data.pop('response').values
X = data

In [4]:
dtrain = xgboost.DMatrix(data = X, label = y)
params = {'max_depth': 1, 'eta': 1.0, 'objective': 'binary:logistic',
          'lambda': 0, 'base_score': 0.5}
model = xgboost.train(params=params, num_boost_round=1, dtrain=dtrain)
pr = model.predict(dtrain)
print(pr, '\n\n', model.get_dump()[0])

[16:21:35] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 2 extra nodes, 0 pruned nodes, max_depth=1
[0.28224894 0.28224894 0.28224894 0.28224894 0.28224894 0.59868765
 0.59868765 0.28224894 0.28224894 0.59868765 0.28224894 0.28224894
 0.28224894 0.28224894 0.28224894 0.28224894 0.28224894 0.59868765
 0.59868765 0.28224894]

 0:[age<55] yes=1,no=2,missing=1
	1:leaf=-0.933333337
	2:leaf=0.400000006

In [5]:
def sigmoid(x):
    return 1 / (1 + np.exp(-x))
print(sigmoid(-0.933333337))
print(sigmoid(0.400000006))

0.28224894229945025
0.5986876615540165

In [6]:
data = pd.read_csv('Data/xgboost_regression.csv', sep=';')
data

    age  days_of_delinq
0    23               6
1    45               8
2    44              10
3    20              12
4    49              15
5    56              10
6    55              14
7    43              20
8    23              11
9    67               6
10   54               9
11   43              12
12   22              15
13   25              20
14   47              22
15   36              16
16   20               7
17   56               4
18   56               4
19   34               1

In [7]:
y = data.pop('days_of_delinq').values
X = data

In [8]:
dtrain = xgboost.DMatrix(data = X, label = y)
params = {'max_depth': 1, 'eta': 1.0, 'objective': 'reg:linear', 'lambda': 0, 'base_score': 0.5}
model = xgboost.train(params=params, num_boost_round=1, dtrain=dtrain)
pr = model.predict(dtrain)
print(pr, '\n\n', model.get_dump()[0])

[16:21:36] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 2 extra nodes, 0 pruned nodes, max_depth=1
[12.375 12.375 12.375 12.375 12.375  6.    12.375 12.375 12.375  6.
 12.375 12.375 12.375 12.375 12.375 12.375 12.375  6.     6.    12.375]

 0:[age<56] yes=1,no=2,missing=1
	1:leaf=11.875
	2:leaf=5.5

In [9]:
base_score = 0.5
leaf_score_for_less_than_56 = 11.875
leaf_score_for_56_and_more = 5.5
prediction_for_less_than_56 = base_score + leaf_score_for_less_than_56
prediction_for_56_and_more = base_score + leaf_score_for_56_and_more
print(prediction_for_less_than_56)
print(prediction_for_56_and_more)

12.375
6.0

In [10]:
params = {'max_depth': 1, 'eta': 0.5, 'objective': 'reg:linear', 'lambda': 0, 'base_score': 0.5}
model = xgboost.train(params=params, num_boost_round=1, dtrain=dtrain)
pr = model.predict(dtrain)
print(pr, '\n\n', model.get_dump()[0])

[16:21:36] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 2 extra nodes, 0 pruned nodes, max_depth=1
[6.4375 6.4375 6.4375 6.4375 6.4375 3.25   6.4375 6.4375 6.4375 3.25
 6.4375 6.4375 6.4375 6.4375 6.4375 6.4375 6.4375 3.25   3.25   6.4375]

 0:[age<56] yes=1,no=2,missing=1
	1:leaf=5.9375
	2:leaf=2.75

In [11]:
base_score = 0.5
leaf_score_for_less_than_56 = 5.9375
leaf_score_for_56_and_more = 2.75
prediction_for_less_than_56 = base_score + leaf_score_for_less_than_56
prediction_for_56_and_more = base_score + leaf_score_for_56_and_more
print(prediction_for_less_than_56)
print(prediction_for_56_and_more)

6.4375
3.25

In [12]:
params = {'max_depth': 1, 'eta': 0.5, 'objective': 'reg:linear', 'lambda': 0, 'base_score': 0.3}
model = xgboost.train(params=params, num_boost_round=1, dtrain=dtrain)
pr = model.predict(dtrain)
print(pr, '\n\n', model.get_dump()[0])

[16:21:36] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 2 extra nodes, 0 pruned nodes, max_depth=1
[6.3375    6.3375    6.3375    6.3375    6.3375    3.1499999 6.3375
 6.3375    6.3375    3.1499999 6.3375    6.3375    6.3375    6.3375
 6.3375    6.3375    6.3375    3.1499999 3.1499999 6.3375   ]

 0:[age<56] yes=1,no=2,missing=1
	1:leaf=6.0374999
	2:leaf=2.8499999

In [13]:
base_score = 0.3
leaf_score_for_less_than_56 = 6.0374999
leaf_score_for_56_and_more = 2.8499999
prediction_for_less_than_56 = base_score + leaf_score_for_less_than_56
prediction_for_56_and_more = base_score + leaf_score_for_56_and_more
print(prediction_for_less_than_56)
print(prediction_for_56_and_more)

6.3374999
3.1499998999999996

In [14]:
params = {'max_depth': 1, 'eta': 0.5, 'objective': 'reg:linear', 'lambda': 0, 'base_score': 0.5}
model = xgboost.train(params=params, num_boost_round=2, dtrain=dtrain)
pr = model.predict(dtrain)
print(pr, '\n\n', model.get_dump()[0])

[16:21:36] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 2 extra nodes, 0 pruned nodes, max_depth=1
[16:21:36] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 2 extra nodes, 0 pruned nodes, max_depth=1
[9.40625 9.40625 9.40625 9.40625 9.40625 4.625   9.40625 9.40625 9.40625
 4.625   9.40625 9.40625 9.40625 9.40625 9.40625 9.40625 9.40625 4.625
 4.625   9.40625]

 0:[age<56] yes=1,no=2,missing=1
	1:leaf=5.9375
	2:leaf=2.75

In [15]:
eta = 0.5
base_score = 0.5
leaf_score_for_less_than_56 = 5.9375
leaf_score_for_56_and_more = 2.75
prediction_for_less_than_56 = base_score + leaf_score_for_less_than_56 + (eta * leaf_score_for_less_than_56)
prediction_for_56_and_more = base_score + leaf_score_for_56_and_more + (eta * leaf_score_for_56_and_more)
print(prediction_for_less_than_56)
print(prediction_for_56_and_more)

9.40625
4.625